*{
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}
.nav-items{
	display: flex;
	justify-content: space-between;
	padding: 10px;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
	align-items: center;
}
.nav-links,a{
	margin-right:30px ;
	text-decoration: none;
	color: grey;
	font-weight: bold;
}
.side-navbar{
	background-color: #1D232C;
	width: 50%;
	height: 100%;
	position: fixed;
	top: 0;
	left: -60%;
	padding: 20px;
	color: white;
	transition: 2s;
	z-index: 2;
}
.side-navbar-link{
	margin-bottom: 30px;
}
.side-navbar-link a{
	text-decoration: none;
	color: white;
}
.order{
	color:white;
	background: blueviolet;
}
a:hover{
   color: purple;
   font-weight: bold;
   font-size: 20px;
}
.navbar-toggle{
	display: none;
}
.home-cont{
	margin-top: 13%;
	margin-left: 200px;
    width:50%;
}

.btn{
	padding: 20px;
	border-radius: 10px;
	background:blueviolet ;
	color: white;
	font-weight: bold;
	font-size: 23px;
	border: none;
	margin-left: 100px;
	margin-top: 30px;
	width:200px;
}
.btn:hover{
	background: black;
	color: white;
	cursor: pointer;
}
img{
	width:250px;
	height: 250px;
	border-radius: 20px;
	border-color: none;
	filter: .4;
	transition: .3s;
	z-index: 4;
}
img:hover{
	filter: grayscale(0);
	transform: scale(0.9) rotate(1deg);
	cursor: pointer;
}
.btn-1{
	width:2o0px;
	height:50px;
	margin-left: 50px;
}
.products{
	display: flex;
	justify-content: space-around;
	flex-wrap:wrap;
	margin-top: 50px;

}
.products-container{
	position: relative;
	flex-basis: 20%;

}
input{
	width: 70%;
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	margin: auto;
	margin-left: 200px;
}

.btn-1{
	padding: 15px;
	border-radius: 10px;
	border: none;
	display:flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	background-color: white;
	color: goldenrod;
	font-size: 15px;
}
.btn-1:hover{
	color: black;
	background-color: white;
	cursor:pointer ;
}
.menus{
	margin-top: 13%;
	margin-left: 45%;

}
.snack{
	margin-top: 30px;
	margin-left: 45%;
}
.footer{
	margin-top:20px;
	padding: 40px;
	background-color: #1D232C;
	color:#F2F4F7;
}
.contact{
	display: flex;
	justify-content: center;
}

.contact-container{
	margin-top: 50px;
	height: 500px;
	width:800px;
	background-color: black;
	color: #ffffff;
	font-size: 15px;
	padding:30px;
	border-radius: 10px;
}
.input-box{
	width:450px;
	height: 50px;
   font-size: 20px;
   margin-top: 20px;
}
.btn-2{
	margin-left: 45%;
	margin-top: 20px;
	padding: 10px;
	border-radius: 10px;
	background-color: black;
	color: white;
	font-size: 20px;
	width: 20%;
}
.btn-2:hover{
	background-color: brown;
	cursor: pointer;
}
.responsive-image img{
	display: none;
}


@media screen and (max-width:700px){
	.navbar-toggle{
		display: block;
	}
	.nav-links{
		display: none;
	}
	body {
		background-image: none;
		height: 50vh;
	  }
	.home-cont{
        margin-left: 20%;
	}
	.home-cont h1{
		font-size:xx-large;
		text-align: center;
	}
	.home-cont p{
		font-size:medium;
		text-align: center;
	}
	.home-cont .btn{
		width: 150px;
		padding: 5px;
		margin-left: 15%;
	}
	.menus,.snack {
		margin-left: 35%;
	}
	input{
		margin-left: 60px;
	}
	.contact-container{
		width: 300px;
	}
	.input-box{
		width:200px;
		height: 30px;
	}
	.btn-2{
		margin-left: 32%;
		width: 28%;
	}
	.responsive-image img{
		display: block;
		width: 100%;
		height: 450px;
		margin-top: 30px;
		border-radius: 5px;
	}
	
}